.containner-projects{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-color-primary);
    color:  var(--text-color-secondary);
    border-radius: 10px 10px 0 0;

}

.contain{
    max-width: 900px;
}

.contain-header{
    display: flex;
}

.header-project{
    padding: 10px;
    margin-top: 5px;
    background-color: white;
    border: var(--bg-secondary) solid 2px;
    border-radius: 20px;
}

.cards_projects{
    max-width: 1075px;
}

.card_project{
    display: flex;
    background-color: white;
    border: var(--bg-secondary) solid 2px;
    border-radius: 20px;
    margin-top: 10px;
}



.card_project img{
    width: 427px;
    height: 266px;
    border-radius: 18px 0 0 18px;
}

.card_project div{
    margin-left: 10px;
}

.card_project-content{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.card_project-description{
    max-width: 440px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0.05em;
}

.card_project-technology{
    margin-bottom: 15px;
}

.card_project-btn{
    width: 150px;
    height: 30px;
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 8px;
    align-self: center;
    text-align: center;
    justify-items: center;
    font-weight: bold;

    background-color: var(--bg-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
    color: var(--text-color-primary);
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.card_project-btn:hover{
    padding-top: 3px;
    border: var(--bg-secondary) solid 2px;
}


@media (max-width: 725px){
    .containner-projects{
        height: 100%;   
    }
    @media (max-width: 425px){
        .contain-header img{
            width: 35%;
        }

        .contain-header .header-project h2{
            font-size: 1.8rem;
        }

        .contain-header .header-project p{
            font-size: 1.5rem;
        }

        .card_project{
            flex-direction: column;
        }

        .card_project img{
            width: 100%;
            height: 50%;
            border-radius: 18px 18px 0 0;
        }

        .card_project-content h2 , .card_project-content h3{
            font-size: 1.8rem;
            line-height: 2.8rem;
            letter-spacing: 0.05em;
        }

        .card_project-content p{
            font-size: 1.5rem;
            line-height: 1.9rem;
            letter-spacing: 0.05em;
        }
    }
}