.containner-menu{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 880px;
    color: var(--text-color-primary);
}

.containner-menu img{
    height: 40px;
    width: 40px;
}

.contain-menu{
    display: flex;
    align-items: center;
    justify-items: center;
}

.menu-item{
    font-size: 2rem;
    padding: 5px 10px;
    color: var(--text-color-primary);
    transition: linear 0.2s;
    position: relative;
}

.menu-item:hover{
    color: var(--bg-primary);
}

.menu-isselect{
    color: var(--bg-primary);
    position: relative;
}
.menu-isselect::after, .menu-item:hover::after{
    position: absolute;
    display: inline-flex;
    left: 0;
    bottom: -18px;
    content: "";
    border-bottom: .3rem solid var(--bg-primary);
    border-radius: 50px;
    width: 100%;
    transform: translateY(-1rem);
}