.containner-home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color-primary);
}

.containner-home section{
    max-width: 588px;
}

.containner-home section .contain {
    margin-bottom: 77px;
}

.containner-home section header h1 {
    margin-bottom: 13px;
}

.containner-home .cards{
    margin-top: 13px;
    display: flex;
    justify-content: space-around;
}

.containner-home .card{
    width: 213px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--text-color-primary);
    color: var(--text-color-secondary);
}

.card img {
    max-height: 117px;
}

.containner-home .seta-next{
    display: none;
}

.card .card_button{
    margin-top: 16px;
    padding: 10px;
    border-radius: 10px;
    border: orangered;
    color: var(--text-color-primary);
    font-size: 1.5rem;
    line-height: 1.8rem;
    background-color: var(--bg-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card .card_button:hover{
    margin-top: 12px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border: rgb(185, 58, 12) solid 2px;
}

aside{
    padding: 10px;
}

@media (max-width: 940px){
    main{
        width: 100%;
        height: 100%;
        padding: 10px;
        flex-direction: column-reverse;
    }

    @media (max-width: 480px){
        .containner-home{
            height: 100%;
        }
        .containner-home .logo{
            height: 100vh;
        }

        html {
            scroll-behavior: smooth;
          }

        .containner-home .seta-next {
            position: absolute;
            display: inline-flex;
            justify-content: center;
            left: 0;
            bottom: 0;
            width: 100%;

        }

        .containner-home .seta-next a{
            color: var(--text-color-primary);
            border-radius: 50%;
            background-color: var(--bg-primary);
            padding: 5px;
        }

        .containner-home .seta-next a img{
            width: 30px;
        }

        .containner-home .seta-next::before {
            position: absolute;
            display: inline-flex;
            justify-content: center;
            left: 0;
            bottom: 20px;
            z-index: -1;
            content: "";
            color: var(--bg-primary);
            border-top: .3rem solid var(--bg-primary);
            width: 100%;
            transform: rotate(180deg);
        }

        .cards{
            align-items: center;
            flex-direction: column;
        }
        .card:first-child{
            margin-bottom: 10px;
        }

        .logo{
            display: flex;
            padding-top: 0;
            justify-content: center;
        }

        .logo img{
            width: 100%;
        }
    }
}