main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color-primary);
}

section{
    max-width: 588px;
}

section .contain {
    margin-bottom: 77px;
}

section header h1 {
    margin-bottom: 13px;
}

.cards{
    margin-top: 13px;
    display: flex;
    justify-content: space-around;
}

.card{
    width: 213px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--text-color-primary);
    color: var(--text-color-secondary);
}

.card img {
    max-height: 117px;
}

.card .card_button{
    margin-top: 16px;
    padding: 10px;
    border-radius: 10px;
    border: orangered;
    color: var(--text-color-primary);
    font-size: 1.5rem;
    line-height: 1.8rem;
    background-color: var(--bg-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card .card_button:hover{
    margin-top: 12px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border: rgb(185, 58, 12) solid 2px;
}

aside{
    padding: 10px;
}

@media (max-width: 940px){
    main{
        width: 100%;
        height: 100%;
        padding: 10px;
        flex-direction: column-reverse;
    }

    @media (max-width: 480px){
        .cards{
            align-items: center;
            flex-direction: column;
        }
        .card:first-child{
            margin-bottom: 10px;
        }

        .logo{
            display: flex;
            padding-top: 0;
            justify-content: center;
        }

        .logo img{
            width: 120px;
        }
    }
}